### Compiled binary ###

dist/

### End of Compiled binary ###

### Karma ###

coverage/

### End of Karma ###

### Node ###

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

### End of Node ###


### WebStorm ###

# User-specific stuff
.idea/

# File-based project format
*.iws

### End of WebStorm ###
